asttokens==3.0.0
Babel==2.14.0
cffi==1.16.0
colorama==0.4.6
cryptography==42.0.5
customtkinter==5.2.2
cx-Logging==3.1.0
cx_Freeze==6.15.15
darkdetect==0.8.0
et-xmlfile==1.1.0
executing==2.2.0
icecream==2.1.4
isort==5.13.2
lief==0.14.0
packaging==24.0
pycparser==2.22
Pygments==2.19.1
PyMySQL==1.1.0
tkcalendar==1.6.1
